<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InvertedTomato.Common" version="1.0.6079.26494" targetFramework="net461" />
  <package id="InvertedTomato.Feather" version="1.0.6117.18088" targetFramework="net461" />
  <package id="OpenTK" version="3.0.0" targetFramework="net461" />
</packages>